body {
      font-family: 'PT Sans', sans-serif;
      background-color: #fff;
    }

    .navbar {
      background-color: #fff8cc;
    }

    .dashboard-header {
      background-color: #f9f9f9;
      padding: 40px 0 10px;
      text-align: center;
      border-bottom: 1px solid #eee;
    }

    .dashboard-header h1 {
      font-weight: 700;
    }

    .dashboard-content {
      padding: 40px 0;
    }

    .btn-group .btn {
      background-color: #fff6b8;
      border-color: #ffe07d;
      color: #000;
    }

    .btn-group .btn:hover {
      background-color: #fff !important;
    }

    .sidebar-hidden {
      background-color: #fff !important;
      border: none !important;
      box-shadow: none !important;
    }

    .sidebar-menu {
      background-color: #ffffff;
      border: none !important;
      border-radius: 0;
      padding: 15px;
      box-shadow: none !important;
    }

    .sidebar-menu .list-group-item {
      border: none !important;
      background-color: transparent;
      font-weight: 500;
      cursor: pointer;
    }

    .sidebar-menu .list-group-item.active {
      background-color: #f44336;
      color: #fff;
    }

    .frame {
      width: 20px;
      background-color: #ffe066;
      border-radius: 10px;
      height: 100px;
    }